<ion-view view-title="Dashboard" style="background-color:red; margin-top:100px">
    <ion-content  ng-controller="DashCtrl"><!--class="padding"-->
        shfksgdfladsfg
        <div style="width:100%">
        <table style="width:100%">
            <thead style="width:100%">
                <tr>
                    <th ng-repeat="(i,th) in head" ng:class="selectedCls(i)" ng:click="changeSorting(i)">{{th}}</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in body | orderBy:sort.column:sort.descending" >
                    <td >{{row.a}}</td>
                    <td >{{row.b}}</td>
                    <td >{{row.c}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </ion-content>
</ion-view>


